terraform {
  required_providers {
    circleci = {
      source = "healx/circleci"
      version = "0.8.2"
    }
    cloudfoundry = {
      source  = "cloudfoundry-community/cloudfoundry"
      version = "0.51.2"
    }
  }
  required_version = "1.5.1"
}

terraform {
  backend "s3" {
    bucket = "$backend_aws_bucket_name"
    key = "terraform"
    region = "$backend_aws_bucket_region"
  }
}

provider "cloudfoundry" {
  api_url   = local.env.api_url
  user      = var.cloudgov_username
  password  = var.cloudgov_password
}


provider "circleci" {
  api_token    = var.circleci_token
  vcs_type     = local.env.circleci.vcs_type
  organization = local.env.circleci.organization
}