backend_aws_bucket_name="$backend_aws_bucket_name"
backend_aws_bucket_region="$backend_aws_bucket_region"

circleci_token="$circleci_token"

cloudgov_password="$cloudgov_password"
cloudgov_username="$cloudgov_username"

newrelic_key="$newrelic_key"

proxy_username="$proxy_username"
proxy_password="$proxy_password"