{
  debug
  log {
    format console
    level INFO
  }
  auto_https off
}

:8080 {
  route {
    forward_proxy {
      basic_auth ${proxy_username} ${proxy_password}
      acl {
        deny_file deny.acl
        allow_file allow.acl
        deny all
      }
      ports 80 443 22 61443
      serve_pac
    }
  }
  log {
    format json
    level INFO
    output stdout
  }
}
